<div class="categories-two-columns-list">
	<ul class="list-first-column">
		<% @poster.categories.first(3).each do |category| %>
			<li class="category-item">
				<a class="category-text" href="#">
					<span class="category-label"><%= category.name %></span>
				</a>
			</li>
		<% end %>
	</ul>
	<ul class="list-second-column">
		<% (@poster.categories[3..-1] || []).each do |category| %>
			<li class="category-item">
				<a class="category-text" href="#">
					<span class="category-label"><%= category.name %></span>
				</a>
			</li>
		<% end %>
	</ul>
</div>
