/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration:none;
    list-style:none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family:Roboto;
    font-weight:400;
    color:#333;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display:none;
}

/* PLAKAT - Classes */
.plak-button {
    display:inline-block;
    background-color:#333;
    color:#fff;
    text-decoration:none;
    line-height:40px;
    padding:0 10px;
}

.plak-button:hover,
.plak-button.active {
    background-color:#000;
}

.plak-button .plak-icon {
    vertical-align:sub;
}

.plak-button .plak-icon-text {
    margin-right:10px;
}

.plak-icon {
    background:url(../img/icons.svg) no-repeat;
    display:inline-block;
    width:20px;
    height:20px;
    background-size:auto 20px;
    border:0;
}

.plak-icon-list { background-position:0 0; }
.plak-icon-edit { background-position:-30px 0; }
.plak-icon-preview { background-position:-60px 0; }
.plak-icon-send { background-position:-90px 0; }
.plak-icon-share { background-position:-120px 0; }
.plak-icon-search { background-position:-187px 0; width:25px; height:25px; background-size:auto 25px; }
.plak-icon-visibility { background-position:-180px 0; }

.plak-input {
    font-family:Roboto;
    font-weight:300;
    box-sizing:border-box;
    height:40px;
    line-height:30px;
    font-size:1.125em;
    padding:3px 3px 3px 7px;
    border:1px solid #666;
}

.plak-menu {
    display:none;
    position:fixed;
    background-color:#333;
    width:240px;
    height:calc(100% - 105px);
    overflow:auto;
    top:0;
    left:0;
    z-index:30;
}

.plak-menu::-webkit-scrollbar-track {
	background-color:transparent;
}

.plak-menu::-webkit-scrollbar {
	width:7px;
	background-color:transparent;
}

.plak-menu::-webkit-scrollbar-thumb {
	background-color:#aaa;
}

.plak-menu a {
    display:block;
    line-height:2.5em;
    padding:0 20px;
    border-top:1px solid #444;
    color:#aaa;
}

.plak-menu a:hover {
    color:#fff;
    background-color:#000;
}

.plak-modal-bg {
    display:none;
    position:fixed;
    background-color:rgba(0,0,0,.75);
    width:100%;
    height:100%;
    z-index:0;
    top:0;
    left:0;
}

.plak-modal {
    visibility:hidden;
    position:absolute;
    background-color:red;
    width:640px;
    height:960px;
    top:-960px;
    left:0;
    right:0;
    margin:0 auto;
    z-index:1;
}

.poster {
  float: left;
  margin:10px;
  /*background-image: url(../img/poster.jpg);*/
  background: #aac;
  background-size: 320px 480px;
  width: 300px;
  height: 450px;
  position: relative;
  cursor: pointer;
}

.poster .text-container {
  text-align: center;
  position: absolute;
  width: 260px; /* 300px<posterWidth> - (20px + 20px)<margin> */
  margin-left: 20px;
  top: 7%;
  text-shadow: 1px 1px black;
}

.poster .title {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
}

.poster .description {
  font-size: 1.15em;
  color: white;
  display: none;
}

.media-container {
    margin:0 auto;
    padding:0 20px;
}

#posters .media-container {
    padding:0 10px;
}

.clear {
    clear:both;
}

/* PLAKAT - Elements */
#landing {
    position:relative;
    background:url(../img/ufrj.jpg) no-repeat center 100%;
    background-size:cover;
    z-index:50
}

#landing .wrapper {
    background-image:radial-gradient(rgba(2,2,2,0.8), #222);
    height:100%;
}

#statusBar {
    position:fixed;
    padding-top:20px;
    padding-bottom:10px;
    top:0;
    left:0;
    right:0;
    z-index:99;
}

#statusBar.fixed {
    background-color:#000;
    padding-top:10px;
}

#logo {
    position:relative;
    float:left;
}

#statusBar img {
    max-width:100%;
    height:70px;
}

#statusBar.fixed img {
    height:25px;
}

#loginNav {
    float:right;
}

#loginNav li {
    float:right;
}

#loginNav li a {
    line-height:1.5em;
    padding-left:20px;
    color:#aaa;
}

#loginNav li a:hover {
    color:#fff;
}

#about {
    position:relative;
    text-align:center;
    color:#fff;
    font-size:2.5em;
    line-height:1.25em;
    font-weight:900;
    padding:17% 40px;
    margin:0 auto;
    max-width:680px;
    z-index:2;
}

#titleBar {
    position:relative;
    background-color:#fff;
    padding:20px 0;
    box-shadow:0 0 1px #333;
    z-index:60;
}

#titleBar.fixed {
    position:fixed;
    padding:10px 0;
    top:45px;
    left:0;
    right:0;
}

#categories {
    float:left;
}

#write {
    float:right;
}

#search {
    position:relative;
    overflow:hidden;
    padding:0 10px;
}

#search .plak-input {
    width:100%;
}

#search input[type="submit"] {
    position:absolute;
    cursor:pointer;
    right:15px;
    top:7px;
}

#posters {
    position:relative;
    margin-top:20px;
    z-index:0;
}

#posters.fixed {
    margin-top:100px;
}

@media screen and (max-width: 1000px) {
    .media-container { width:940px; }
    #posters .media-container { width:960px; }
    .poster img { width:300px; }
}

@media screen and (min-width: 1300px) {
    .media-container { width:1260px; }
    #posters .media-container { width:1280px; }
    .poster img { width:300px; }
}

.no-results-placeholder {
  text-align: center;
  display: inline-block;
  height: 300px;
  line-height: 300px;
  width: 100%;
  margin: 0 auto;
  font-size: 2em;
  color: #ccc;
}
