$border_color: #d9d9d9;

.new-poster{
  max-width: 900px;
  border: solid 1px #333;
  background: #eaeaea;
  margin: 0 auto;
  margin-top: 10px;
  form{
    display: grid;
  }
  input, select, textarea, button, label{
    height: 30px;
    font-size: 1.2em;
    margin: 5px;
  }
  textarea{
    min-height: 200px;
  }
  .span1{
    width: 8%;
  }
  .span9{
    width: 88%;
  }
  .span2{
    width: 18%;
  }
  .span8{
    width: 78%;
  }
  .span7{
    width: 68%;
  }
  .span3{
    width: 28%;
  }
  .span4{
    width: 38%;
  }
  .span6{
    width: 58%;
  }
  .span5{
    width: 48%;
  }
  .span10{
    width: 98%;
  }
}