@import "compass";

@mixin flex($value) {
	-ms-flex: $value;
	-webkit-flex: $value;
	-moz-flex: $value;
	flex: $value;
}

@mixin display-flex() {
	-ms-display: flex;
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;
}

@import "./poster_toolbar";
@import "./poster_data";
