.plak {
  width: 100%;
  box-sizing: border-box;

  @media(max-width: 640px) {
    .plak-image img {
      width: 100%;
    }
  }

  @media(min-width: 641px) {
    .plak-image img {
      max-width: 50%;
      max-height: 540px;
      float: left;
      margin-right: 16px;
      margin-bottom: 16px;
    }
  }

  .plak-title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 16px;
    box-sizing: border-box;
  }

  .plak-description {
    padding: 16px;
  }
}
