@import "compass";

/* POSITION */
$toolbar_height: 56px;
$toolbar_padding: 8px;

@mixin paper-shadow() {
	box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.37);
	border-radius: 1px;
	background-color: #fff;
}

.topbar {
	width: 100%;
	height: $toolbar_height + ($toolbar_padding * 2);
	padding: 8px;
	box-sizing: border-box;

	.back-home {
		float: left;

		.plakat-logo {
			height: $toolbar_height;
			width: 25px + 5px + 89px; // logo + space + letters
			margin: 0 20px;
		}
	}
	
	.share-link {
		position: relative;
		float: right;
		height: $toolbar_height;
		line-height: $toolbar_height;
		padding: 0 10px;
		display: inline-block;

		.share-icon {
			display: inline-block;
			width: 24px;
			height: $toolbar_height;
			vertical-align: top;
		}

		.share-label {
			display: inline-block;
			height: $toolbar_height;
		}
	}

	.categories {
		float: left;
		position: relative;
	}

	.categories-horizontal-list {
		display: inline-block;
		line-height: $toolbar_height;

		.category-item,
		.extra-categories {
			display: inline-block;
			height: 24px;
			padding: 8px;
			line-height: 24px;
		}
	}

	.categories-vertical-list {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: $toolbar_height;
		transform: scale(1,1) translate(0, 0) rotateX(0) rotateY(0) rotateZ(0);
		transition: transform 500ms;
		transform-origin: right top;

		.category-item {
			padding: 8px;
		}

		&.hidden-list {
			transform: scale(0,0) translate(100%,-150%) rotateX(-180deg) rotateY(-180deg) rotateZ(-360deg);
		}
	}

	.hyperlink-icon {
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-left: 5px;
	}
}


/* DECORATION */
$toolbar_color: #e91e63;

.topbar {
	@include user-select(none);
	background: $toolbar_color;

	.back-home {
		.plakat-logo svg {
			fill: #fff;
		}
	}
	
	.share-link {
		cursor: pointer;

		.share-icon svg	{
			fill: #fff;
		}

		.share-label {
			font-size: 1.3em;
			text-transform: uppercase;
			color: #fff;
		}

		.share-link-white-front {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 0;
			height: 0;
			background-color: rgba(255, 255, 255, 0);
			transition: all 200ms ease-out;
		}

		&:active .share-link-white-front {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.4);
		}
	}

	.categories {
		.category-item a {
			color: $toolbar_color;
			text-decoration: none;
		}

		.categories-horizontal-list {
			font-size: 1.3em;

			.category-item,
			.extra-categories {
				position: relative;
				@include paper-shadow();
				color: $toolbar_color;
				cursor: pointer;

				.category-front-shadow {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 0;
					height: 0;
					background-color: rgba(0, 0, 0, 0);
					transition: all 200ms ease-out;
				}

				&:active {
					box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.37);
					transition: box-shadow 200ms ease-out;
					.category-front-shadow {
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: rgba(0, 0, 0, 0.2);
					}
				}
			}
		}

		.hyperlink-icon svg {
				fill: #aaa;
		}

		.categories-vertical-list {
			@include paper-shadow();
			color: $toolbar_color;
		}
	}
}


/* JAVASCRIPT CONVENIENCES */

.topbar {
	.categories .categories-horizontal-list {
		.extra-categories.hidden-item,
		.category-item.hidden-item {display: none;}
	}
}
