/* POSITIONING */
html, body {
	height: 100%;
	min-height: 100%;
}

.plak {
	overflow: hidden;
  width: 100%;
  box-sizing: border-box;

  @media(max-width: 640px) {
    .plak-image img {
      width: 100%;
    }
  }

  @media(min-width: 641px) {
		position: fixed;
		top: $toolbar_height + $toolbar_padding * 2;
		left: 0;
		height: 100%;
		display: block;

    .plak-image {
			float: left;
			@include display-flex();
			max-width: 50%;
			height: 100%;
			border-right: 1px solid #ddd;
			box-sizing: border-box;
			background-color: #fff;
		}


    .plak-image img {
			width: 100%;
			align-self: center;
			margin-top: -72px;
    }

		.plak-content {
			box-sizing: border-box;

			.plak-title {
				box-sizing: border-box;
			}
		}
  }
}

.plak {
	&.with-image {
		background-color: #FFEFF3;
		.plak-content {
			overflow: hidden;
		}
	}

	&.without-image {
		.plak-content {
			background-color: #FFEFF3;
			width: 50%;
			height: 100%;
			min-height: 100%;
			margin: 0 auto;
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
		}
	}
}

/* DECORATING */
.plak {

	.plak-content {
		padding: 16px;
	}

	.plak-title {
		font-size: 1.5em;
		font-weight: bold;
		margin-top: 20px;
		margin-bottom: 8px;
	}
}
