/* POSITION */
$toolbar_height: 56px;
$toolbar_padding: 8px;

.topbar {
	width: 100%;
	height: $toolbar_height + ($toolbar_padding * 2);
	padding: 8px;
	box-sizing: border-box;
	@include display-flex();

	.back-home {
		@include flex(none);

		.plakat-logo {
			height: $toolbar_height;
			width: 25px + 5px + 89px; // logo + space + letters
			margin: 0 20px;
		}
	}
	
	.share-link {
		@include flex(none);
		position: relative;
		height: $toolbar_height;
		line-height: $toolbar_height;
		padding: 0 10px;
		display: inline-block;

		.share-icon {
			display: inline-block;
			width: 24px;
			height: $toolbar_height;
			vertical-align: top;
		}

		.share-label {
			display: inline-block;
			height: $toolbar_height;
		}
	}

	.categories {
		align-items: center;
		@include flex(1);
		@include display-flex();
	}

	.categories-wrapper {
		position: relative;
	}

	.categories-horizontal-list {
		@include display-flex();
		line-height: $toolbar_height;

		.category-item,
		.extra-categories {
			height: 24px;
			padding: 8px;
			margin: 0 2px;
			line-height: 24px;
		}

		.extra-categories {
			display: inline-block;
			@include flex(none);
		}

		.category-item {
			a {
				@include display-flex();
			}

			.category-label {
				@include flex(1);
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;

			}

			.hyperlink-icon {
				@include flex(none);
			}
		}
	}

	.categories-vertical-list {
		position: absolute;
		top: 0;
		margin-top: $toolbar_height;
		@include transform(scale(1,1) translate(0, 0) rotateX(0) rotateY(0) rotateZ(0));
		@include transition(transform 500ms);
		@include apply-origin(right top, false);
		z-index: 1;

		.category-item {
			padding: 8px;
		}

		&.hidden-list {
			@include transform(scale(0,0) translate(100%,-150%) rotateX(-180deg) rotateY(-180deg) rotateZ(-360deg));
		}
	}

	.hyperlink-icon {
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-left: 5px;
	}
}


/* DECORATION */
$toolbar_color: #e91e63;

.topbar {
	@include user-select(none);
	background: $toolbar_color;

	.back-home {
		.plakat-logo svg {
			fill: #fff;
		}
	}
	
	.share-link {
		cursor: pointer;

		.share-icon svg	{
			fill: #fff;
		}

		.share-label {
			font-size: 1.3em;
			text-transform: uppercase;
			color: #fff;
		}

		.share-link-white-front {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 0;
			height: 0;
			background-color: rgba(255, 255, 255, 0);
			@include transition(all 200ms ease-out);
		}

		&:active .share-link-white-front {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.4);
		}
	}

	.categories {
		.category-item a {
			color: $toolbar_color;
			text-decoration: none;
		}

		.categories-horizontal-list {
			font-size: 1.3em;

			.extra-categories-number:before {
				content: "+";
			}

			.category-item,
			.extra-categories {
				position: relative;
				@include paper-shadow();
				color: $toolbar_color;
				cursor: pointer;

				.category-front-shadow {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 0;
					height: 0;
					background-color: rgba(0, 0, 0, 0);
					@include transition(all 200ms ease-out);
				}

				&:active {
					@include box-shadow(0 8px 12px 0 rgba(0, 0, 0, 0.37));
					@include transition(box-shadow 200ms ease-out);
					.category-front-shadow {
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: rgba(0, 0, 0, 0.2);
					}
				}
			}
		}

		.hyperlink-icon svg {
				fill: #aaa;
		}

		.categories-vertical-list {
			@include paper-shadow();
			color: $toolbar_color;
		}
	}
}


/* JAVASCRIPT CONVENIENCES */

.topbar {
	.categories .categories-horizontal-list {
		.hidden-item {display: none;}
	}
}

/* MEDIA QUERIES */
.topbar {
	@media(min-width: 641px) {
		.categories-vertical-list {
			right: 0;
		}
	}

	@media(max-width: 640px) {
		.categories-wrapper {
			width: 100%;
		}

		.categories-vertical-list {
			left: 0;

			&.hidden-list {
				display: none;
			}
		}

		.categories-horizontal-list {
			.category-item {
				display: none;
			}
		}
	}


	@media(max-width: 800px) {
		.share-link .share-label {
			display: none;
		}
	}
}
