<% @poster.categories.each do |category| %>
  <li class="category-item list-item">
    <a href="#">
      <div class="list-item-front-shadow"></div>
			<span class="list-item-label"><%= category.name %></span>
      <div class="hyperlink-icon"><%= render partial: "layouts/hyperlink_svg" %></div>
    </a>
  </li>
<% end %>
