<div class="topbar">
	<div class="back-home">
		<div class="plakat-logo">
			<a href="/home">
				<%= render partial: "layouts/plakat_svg" %>
			</a>
		</div>
	</div>
	<div class="categories topbar-middle">
	<% if @poster %>
		<div class="list-wrapper">
		<ul class="horizontal-list categories-horizontal-list">
			<%= render partial: "layouts/categories_items" %>
			<li class="extra-categories list-item open-list hidden-item">
				<span class="extra-categories-number"></span>
				<span class="extra-categories-mobile-label hidden-item">Categories</span>
			</li>
		</ul>
		<ul class="vertical-list categories-vertical-list hidden-list">
			<%= render partial: "layouts/categories_items" %>
		</ul>
		</div>
	<% end %> 	
	</div>
	<div class="special-btn share-btn">
		<span class="special-btn-white-front"></span>
		<div class="btn-icon">
			<%= render partial: "layouts/share_svg" %>
		</div>
		<span class="btn-label">Compartilhar</span>
	</div>
</div>
